.room-number {
    /*position: absolute;*/
    font-size: 50px;
    background: #1a1a1a;
    padding: 10px;
}
body {
    margin: 10px;
}
#chat-wrapper {
    overflow: hidden;
    background: aliceblue;
    color: black;
}
#problem-message {
    resize: none;font-size: 20px;
}
#problem-submit {
    height: 50px;
}
.problem-created-by {
    cursor: pointer;
    overflow: scroll;
    width: 15%;
    transform: translate(0, -20px);
    color: #4c4c55;
    font-size: 15px;
    position: absolute;
    white-space: nowrap;
    right: 10%;
}
.problem-created-by:before {
    content: "Created by: ";
}
.problem-created-by:hover {
    color: white;
}
.problem-list-problem {
    list-style: none;
    font-size: 25px;
    padding: 2px 0px;
    border-bottom: 1px solid #4c4c55;
    border-radius: 2px;
    height: 35px;
}
.problem-list-problem>div {
    white-space: nowrap;
    width: 80%;
    overflow: scroll;
}
.problem-created-by::-webkit-scrollbar {
  display: none;
}
.problem-list-problem>div::-webkit-scrollbar {
  display: none;
}
.problem-list-problem:hover {
    background: rgba(255, 255, 255, 0.1);
}
.problem-list-problem.solved>div {
    width: calc(80% - 83px);
    margin-left: 83px;
}
.problem-list-problem.solved>div::before {
    font-size: 19px;
    padding: 3px 10px;
    content: "Solved";
    position: absolute;
    background: #129612;
    border-radius: 7px;
    transform: translate(-83px, 0px);
}
.problem-list-problem>div {
    cursor: pointer;
}
#problem-list {
    padding: 0;
}
#problem-list:empty{
    text-align: center;
}
#problem-list:empty::after {
    content: "No Problems";
}
#chat-box {
    padding: 5px 15px;
    height: 4in;
    overflow: scroll;
    width: calc(100% - 225px);
    display: inline-block;
    border-right-color: black;
    border-right-width: 2px;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-style: solid;
}
#veiw-problem-content {
    display: none;
}
#users-list {
    padding-top: 5px;
    width: 180px;
    display: inline-block;
    vertical-align:top;
    overflow: scroll;
}
h1 {
    display: inline-block;
}
#controls {
    float: right;
    display: inline-block;
}
#message {
    width: calc(100% - 186px);
    text-align: left;
}
.room-info {
    position: absolute;
    right: 80px;
    top:10px;
    margin: 7px 15px;
    font-size: 15px;
}
