<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/index.css">
    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

    <meta charset="UTF-8">
</head>
<div id="settings">settings</div>


<div id="settings-modal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <div class="input-group" style="margin-top: 11px">
    <span style="margin: 18px;margin-left:0">Theme</span>
    <div class="select" style="width: 9em;">

        <select id="theme-select" onchange="switchTheme(this)">
                <option value="red">red</option>
                <option value="blue">blue</option>
                <option value="yellow">yellow</option>
        </select>
    </div>
</div>
  </div>

</div>

<script type="text/javascript">
    const currentTheme = localStorage.getItem('theme') ? localStorage.getItem('theme') : null;
    if (currentTheme) {
        document.documentElement.setAttribute('data-theme', currentTheme);
        $("#theme-select").val(currentTheme);
    } else {
        document.documentElement.setAttribute('data-theme', 'yellow');
        $("#theme-select").val('yellow');
    }

    function switchTheme(elem) {
        document.documentElement.setAttribute('data-theme', elem.value);
        localStorage.setItem('theme', elem.value);
    }
</script>
<script type="text/javascript">
    var modal = $("#settings-modal");
    var btn = $("#settings");
    var span = $(".close");
    btn.on("click", () => {modal.show()});
    span.on("click", () => {modal.hide()});
    window.onclick = (event) => {
      if (event.target == modal[0]) {
        modal.hide();
      }
    }
</script>