<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/index.css">
    <meta charset="UTF-8">
    <title>Join Room</title>
</head>
<body>
<div class="parent">
    <div class="child">
        <form method="post">
             {{ error }}<br>
            Class code: <input type="text" name="code" placeholder="••••••••" class="biginput" maxlength="6" size="8"><input type="submit" value="join">
        </form>
    </div>
    </div>
</body>
</html>
