<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/index.css">
    <meta charset="UTF-8">
    <title>Name</title>
</head>
<body>
<div class="parent">
    <div class="child">
        <form method="post">
            Name: <input type="text" name="name" class="biginput" maxlength="20" size="15"><input type="submit" value="Go!">
            <input type="hidden" name="code" value="{{ code }}">
        </form>
    </div>
    </div>
</body>
</html>
