<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<link rel="stylesheet" type="text/css" href="/static/room.css">
<title>Room #{{ roomno }}</title>

<body>
<div>
     <span class="room-number">{% if user['is_teacher']%}Room #: {{ roomno }}{% endif %}</span>
    <!-- this leaves a blank span if there is no teacjer. this is on purpose becuase this is coded badly pls do no remove-->
    <div class="room-info">Welcome, {{ user['name'] }} {% if not user['is_teacher']%}| Teacher: {{ room['teacher'] }}{% endif %}</div>
    <div>
    <div id="controls" style="margin-right: 10px;" class="button-group">
            {% if user['is_teacher']%}
                <a class="button button-medium" href="/delete/{{ roomno }}">Delete Room</a>
            {% else %}
                <a class="button button-medium" href="/">Leave Room</a>
            {% endif %}
            <a class="button button-medium" href="/">New Problem</a>
        </div>

        <h1>Chat:</h1>

        <div id="chat-wrapper" style="border-radius: 10px">
            <div id="chat-box">
            </div>
            <div id="users-list">
                <span id="user-count">{{ room['users']|length }}</span> active users
                <hr>
                <div id="users">{% for u in room['users'] %}{{ u }}<br>
                    {% endfor %} </div>
            </div>
        </div>
        <form id="message-form" onsubmit="sendMessage();return false">
            <div class="input-group">
                    <input type="text" name="message" value="" id="message" class="text-large input-group-input" autocomplete="off">
                    <span onclick="sendMessage()" class="input-group-button button button-large">send</span>
                </div>

            <!--<input type="hidden" name="user" value="{{ user['id'] }}">-->
        </form>
    </div>
</div>
</body>
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
    var name = "{{ user['name'] }}";
    var room = "{{ roomno }}";
</script>
<script src="/static/room.js"></script>
</html>
