<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/index.css">
    <meta charset="UTF-8">    <title>Settings</title>
</head>
<body>
<div style="margin: 50px; margin-top: 100px;">
<span class="back-btn" onclick="window.location.href='/'">< back</span>
<form id="form" method="post">

    Name: <input type="text" name="name" class="text-large" maxlength="20" size="15"><br>
        <div class="input-group" style="margin-top: 11px">

            <span style="margin: 18px;margin-left:0">Delay</span>
    <div class="select">

    <select name="delay" id="delay">
        <option value="0">None</option>
        <option value="60">1 Minute</option>
        <option value="120">2 Minutes</option>
        <option value="300">5 Minutes</option>
        <option value="900">15 Minutes</option>
    </select>
    </div>
                </div>

    <br>
    <div>

    <div class="input-group">
        <label class="switch" style="margin-top: 11px;">
        <input type="checkbox" name="has_max" value="Max" style="margin-top: 18px;" onclick="document.querySelector('#maxVal').style.display = this.checked ? 'block': 'none'">
          <span class="slider round"></span>
        </label>

        <span style="margin: 11px;">Maximum Room Occupancy:</span><input name="max" style="display:none" id="maxVal" value="100" size="4" class="text-medium" type="text">
    </div>
        </div>
    <br>
    <div class="input-group">
        <label class="switch" style="margin-right: 11px">
    <input name="solved" type="checkbox" value="off" >
            <span class="slider round"></span>
        </label>

    <label>Show Solved Problems Alongside Current Problems</label>
    </div>
    <br>
    <span onclick="document.getElementById('form').submit()" class="button-large">Create Room</span>
</form>
</div>
</body>
</html>