<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/index.css">
    <meta charset="UTF-8">    <title>Settings</title>
</head>
<body>
<form method="post">
    Name: <input type="text" name="name" class="biginput" maxlength="20" size="15"><br>
    <label for="delay">Delay</label>
    <select name="delay" id="delay">
        <option value="0">None</option>
        <option value="60">1 Minute</option>
        <option value="120">2 Minutes</option>
        <option value="300">5 Minutes</option>
        <option value="900">15 Minutes</option>
    </select>
    <br>
    <label><input type="checkbox" name="max?" value="Max" onclick="document.querySelector('#maxVal').style.display = this.checked ? 'block': 'none'">Maximum Room Occupancy?<br></label>
    <input name="max" style="display:none" id="maxVal" value="100" type="text">
    <label><input name="solved" type="checkbox" name="solved?">Show Solved Problems Alongside Current Problems?<br></label>
    <input type="submit" value="Submit Settings">
</form>

</body>
</html>