<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}

    <title>Suggest a Problem</title>
<body>
<div class="parent">
    <div class="child">
        <form method="post" id="form">
            <div id="class-code">
                <span class="back-btn" onclick="window.location.href='/'">< back</span>
                <div class="input-group">
                    <span class="input-group-label">Name:</span> <input type="text" name="name" placeholder="Name" class="text-large input-group-input" maxlength="25" size="8">
                    <span onclick="document.getElementById('form').submit()" class="input-group-button button button-large">Submit</span>
                </div>

            </div>
        </form>
        </div>
    </div>
    </div>
</body>
</html>
